{% extends 'main.html' %}
{% block title %}
 home
{% endblock title %}



{% block content %}
<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
    }
</style>


<div class="home-container">
    <div>
        {% include 'base/topics_component.html' %}
    </div>
    <div>
        <h1>All Activites</h1>
        {% include 'base/activity_component.html' %}
    </div>
    <div>
        {% include 'base/feed_component.html' %}
    </div>
</div>

{% endblock content %}
